@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #1a1a1a;
  --accent: #3a86ff;
  --border-color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #f0f0f0;
    --accent: #4895ef;
    --border-color: #f0f0f0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.orbitron {
  font-family: var(--font-orbitron);
} 

.terminal-window {
  background-color: var(--background);
  border: 1px solid var(--foreground);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.terminal-text {
  color: var(--accent);
}

.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
